#Node modules
node_modules/
#Environment variables
.env 

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Build output
dist/
build/

# Optional: MongoDB dump files
dump/

# Optional: coverage reports
coverage/